<div class="container">
  <div>
    <h2 class="mt-3">通知</h2>
    <p><%= link_to "全削除",notification_path(@notifications), method: :delete,class: "btn btn-outline-danger fas fa-trash" %></p>
    <% if @notifications.exists? %>
      <%= render @notifications %>
    <% else %>
      <p class="ml-5">通知はありません</p>
    <% end %>
　</div>

</div>