<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h5 class="mt-3">DM User</h5>
      <% @dm_users.each do |dmuser| %>
        <%= link_to room_path(current_user.get_room_id(dmuser)) do %>
          <div><%= dmuser.name %></div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-9">
      <h3 class="mt-3">Messages</h3>
      左記より選択してください。
    </div>
  </div>
</div>