<div class="container">
  <%= link_to "", new_post_path, class: "fas fa-plus-circle postbtn" %>
  <div class="row">
    <div class="col-2" style="line-height:2rem" >
      <p class="h7 font-weight-bold mt-3 text-nowrap">投稿が多いタグ</p>
      <% @tag_rank.each do |tr| %>
        <div><%= link_to tr.name, search_tag_path(tag_id: tr.id) %>
        <%="(#{tr.posts.count})" %></div>
      <% end %>
    </div>
    <div class="col-8">
      <%= render 'posts/post', posts: @posts,current_user_like_list: @current_user_like_list %>
    </div>
  </div>
</div>
