/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "tagsinput";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// ハンバーガーメニュー
.navbar-light .navbar-toggler {
 border-color: rgba(0,0,0,0);
}

.navbar-light .navbar-toggler-icon{
  /* 三本線 */
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header {
 background-color: #1e50a2;
}

// ヘッダー、カーソルが乗ったときのデザイン
.header-container .header-title:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.accordion-container .accordion-title {
  color: #fff;
  // background: #343a40 ;
  cursor: pointer
}
// 最初は隠しておく
.accordion-content {
  display: none;
}
// トグルの位置固定
.accordion-title{
  position: relative;
}
// トグルのデザイン
.accordion-title:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.accordion-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

// 全体に表示
body {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

main {
 margin-bottom: auto;
}

footer {
 color: white;
 background-color: #1e50a2;
 weight: 100%;
 padding: 2%;
}

// スクロール、ページトップへ
#page_top {
 width: 50px;
 height: 10px;
 position: fixed;
 right: 100px;
}

#page_top i::before{
 font-weight: 900;
 font-size: 50px;
 color: #1e50a2;
}


// リンク下線なし
a {
 color: #000;
 text-decoration: none;
}

a:hover {
 text-decoration: none;
}

// タグの色」
.fa-tag {
 color: #1e50a2;
}

.icon {
 border-radius: 50%;
}